<div class="home__data-table">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th (click)="sortKey = 'box_id'">Box ID</th>
        <th (click)="sortKey = 'sensor_type'">Sensor Type</th>
        <th>Name</th>
        <th>Range (Lower)</th>
        <th>Range (Upper)</th>
        <th>Long</th>
        <th>Lat</th>
        <th>Reading</th>
        <th (click)="sortKey = 'reading_ts'">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data| sort: sortKey" >
        <td>{{item.box_id}}</td>
        <td>{{item.sensor_type}}</td>
        <td><a href="/map/{{item.longitude}}/{{item.latitude}}">{{item.name}}</a></td>
        <td>{{item.range_l}}</td>
        <td>{{item.range_u}}</td>
        <td>{{item.longitude}}</td>
        <td>{{item.latitude}}</td>
        <td>{{item.reading}}{{item.unit}}</td>
        <td>{{item.reading_ts | date: 'short'}}</td>
      </tr>
      <tr *ngIf='!data'>
        <td>Loading...</td>
      </tr>
    </tbody>
  </table>
</div>

<app-median-values *ngIf="data" [data]="data" medianKey="sensor_type" medianValueKey="reading"></app-median-values>